# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Builds
**/bld/
**/build/
**/builds/
**/win/
**/winja/
**/windows/
**/winbld/
**/winbuild/
**/lnx/
**/linux/
**/lnxbuild/
**/linuxbuild/
**/make/
**/ninja/
**/debug/
**/dbg/
**/rls/
**/release/
**/tst/
**/testing/
**/cmake-build-*/

# Scripts at the top level
*.cmake
*.sh
*.bat
*.ps1
*.py

# Build stuff
bin/

# LibC Tests
user/libc/test/test

# Userspace build install directory
user/bin

# Backups
**/*.tmp*
**/*.temp*
**/*~
**/#*#
**/.#*
**/*.backup*
**/.swp

# Boot Directory
/boot/

# System Root
/root/

# clangd
**/compile_commands.json*
.cache/

# OVMF
OVMFbin/OVMF_VARS_LensorOS.fd

# cinclude2dot
**/include_visualization/

# CLion
.idea/